apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: prometheus-operator
    role: alert-rules
    release: prometheus-operator
  name: prometheus-operator-custom-alerts-node.rules
spec:
  groups:
  - name: node.rules
    rules:
    - alert: Node-Scheduling-Disabled
      expr: sum(kube_node_spec_unschedulable) by (node) == 1
      for: 3h
      labels:
        severity: warning
      annotations:
        message: 'A node has had scheduling disabled for more than 3 hours'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#node-scheduling-disabled
    - alert: Node-Disk-Space-Low
      expr: ((node_filesystem_avail_bytes {mountpoint !~"/snap/.+"} * 100) / node_filesystem_size_bytes) < 10
      for: 30m
      labels:
        severity: warning
      annotations:
        message: 'A node is reporting low disk space below 10% (Ignoring /snap/* mountpoints). Action is required on a node.'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#node-disk-space-low
    - alert: CPU-High
      expr: 100 - (avg by (instance,pod) (rate(node_cpu_seconds_total{mode="idle"}[10m])) * 100) > 95
      for: 5m
      labels:
        severity: warning
      annotations:
        message: This device's CPU usage has exceeded the threshold with a value of {{ $value }}. Instance {{ $labels.instance }} CPU usage is dangerously high
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#cpu-high
    - alert: CPU-Critical
      expr: 100 - (avg by (instance,pod) (rate(node_cpu_seconds_total{mode="idle"}[10m])) * 100) > 99
      for: 5m
      labels:
        severity: critical
      annotations:
        message: This device's CPU usage has exceeded the threshold with a value of {{ $value }}.Instance {{ $labels.instance }} CPU usage is critically high
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#cpu-critical
    - alert: Memory-High
      expr: (node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / (node_memory_MemTotal_bytes) * 100 > 90
      for: 5m
      labels:
        severity: warning
      annotations:
        message: '{{ $labels.instance }} has high memory usage for than 5 minutes. Instance {{ $labels.instance }} memory has high usage.'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#memory-high
    - alert: Memory-Critical
      expr: (node_memory_MemTotal_bytes - node_memory_MemAvailable_bytes) / (node_memory_MemTotal_bytes) * 100 > 95
      for: 5m
      labels:
        severity: critical
      annotations:
        message: '{{ $labels.instance }} has high memory usage for than 5 minutes. Instance {{ $labels.instance }} memory has critically high usage.'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#memory-critical

    - alert: RootVolUtilisation-High
      expr: (node_filesystem_size_bytes {mountpoint="/"} - node_filesystem_avail_bytes {mountpoint="/"} ) / (node_filesystem_size_bytes {mountpoint="/"} ) * 100 >90
      for: 5m
      labels:
        severity: warning
      annotations:
        message: '{{ $labels.instance }} has exceeded the threshold of root volume utilisation with a value of {{ $value }}. Instance {{ $labels.instance }} root volume utilisation usage is high'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#root-volume-utilisation---high
    - alert: RootVolUtilisation-Critical
      expr: (node_filesystem_size_bytes {mountpoint="/"} - node_filesystem_avail_bytes {mountpoint="/"} ) / (node_filesystem_size_bytes {mountpoint="/"} ) * 100 >95
      for: 1m
      labels:
        severity: critical
      annotations:
        message: '{{ $labels.instance }} has exceeded the threshold of root volume utilisation with a value of {{ $value }}. Instance {{ $labels.instance }} root volume utilisation usage is critically high'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#root-volume-utilisation---critical
    - alert: IncreaseInNodeCount
      annotations:
        message: 'The Node count has increased from {{ with query "count(node_uname_info offset 135s)" }}
          {{ . | first | value | humanize }}
        {{ end }} to {{ $value }}'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md
      expr: count(node_uname_info) > count(node_uname_info offset 135s)
      for: 15s
      labels:
        severity: info-cloud-platform-notify
    - alert: DecreaseInNodeCount
      annotations:
        message: 'The Node count has decreased from {{ with query "count(node_uname_info offset 135s)" }}
          {{ . | first | value | humanize }}
        {{ end }} to {{ $value }}'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md
      expr: count(node_uname_info) < count(node_uname_info offset 135s)
      for: 15s
      labels:
        severity: info-cloud-platform-notify
    - alert: IncreaseInNodeCountAlert
      annotations:
        message: 'The Node count has increased by 4 or more nodes within 30 minutes. From {{ with query "count(node_uname_info offset 1800s)" }}
          {{ . | first | value | humanize }}
        {{ end }} to {{ $value }}'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#ChangeInNodeCountAlert
      expr: count(node_uname_info) > (count(node_uname_info offset 1800s)+3)
      for: 15s
      labels:
        severity: info-warning
    - alert: DecreaseInNodeCountAlert
      annotations:
        message: 'The Node count has decreased by 4 or more nodes within 30 minutes. From {{ with query "count(node_uname_info offset 1800s)" }}
          {{ . | first | value | humanize }}
        {{ end }} to {{ $value }}'
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md#ChangeInNodeCountAlert
      expr: count(node_uname_info) < (count(node_uname_info offset 1800s)-3)
      for: 15s
      labels:
        severity: info-warning
    - alert: LowIpPrefixesAvailable
      annotations:
        message: The remaining available IP prefixes for the cluster is below 10% of it total availablity, {{ $value }} remaining. This must be addressed before no IP prefixes run out otherwise .
        runbook_url: https://github.com/ministryofjustice/cloud-platform-terraform-monitoring/blob/main/resources/prometheusrule-alerts/README.md
      expr: sum(aws_subnet_exporter_available_prefixes{vpcid="${vpcid}"}) < ((sum(aws_subnet_exporter_available_prefixes{vpcid="${vpcid}"})+sum(aws_subnet_exporter_used_prefixes{vpcid="${vpcid}"})) / 10)
      for: 15s
      labels:
        severity: warning
